.error-page-wrapper {
  position: absolute;
  top: 40%;
  width: 100%;

  .error-page_inner {
    
    .content-wrapper {
      text-align: center;
      
      .error-message {
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      
      .error-description {
        color: #b1b1b1;
        margin: auto;
        max-width: 500px;
        margin: 1rem auto;
      }

      .try-again {
        text-transform: uppercase;
        color: #d70508;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .error-page-wrapper {
    .content-wrapper {
      padding: 0 20px;
    }
  }
}

@media screen and (min-width: 769px) {
  .error-page-wrapper {
    .content-wrapper {
      margin-left: 250px;
    }
  }
}
