.error-page-wrapper {
  .error-page_inner {
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 212px);
    width: 100%;

    .content-wrapper {
      text-align: center;

      .error-message {
        font-size: 2rem;
        text-transform: uppercase;
      }

      .error-description {
        color: #505050;
        opacity: 0.5;
        font-size: 1rem;
        max-width: 500px;
      }

      .go-home-btn {
        display: inline-block;
        border: 1px solid #505050;
        color: #505050;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 600;
        padding: 10px 20px;
        transition: 0.3s ease;
        &:hover {
          background-color: #505050;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .error-page-wrapper {
    .content-wrapper {
      width: 350px;
      padding: 0 20px;
    }
  }
}
