.navbar {
  transition: background-color 1000ms ease;
  -webkit-transition: background-color 1000ms ease;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
}

.navbar.colored {
  background-color: rgba(72, 72, 72, 0.8);

  a.button:hover {
    color: #fff;
  }
}

.navbar.transparent {
  background-color: transparent;

  .button.round:hover {
    color: #fff;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  nav.navbar {
    padding: 0.5rem 3rem;
  }
}
