@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:300,400,600&display=swap");

// Set your brand colors
$red: #d70508;
$page-bg: #f4f7fa;

$navbar-breakpoint: 0;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 100 14px/1.6 "Lato", Verdana, sans-serif;
  background-color: #f4f7fa;
  color: #505050;
  -webkit-font-smoothing: antialiased;
}
