@import "../../assets//styles/variables.scss";

.not-found {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
  background: #f4f7fa;

  .not-found__text-wrapper {
    margin: auto;
    max-width: 500px;
    color: map-get($black, 000);
    padding: 1rem;
  }

  .not-found__title-text {
    font-size: 4rem;
    font-weight: 400;
  }

  .not-found__sub-title-text,
  .not-found__desc-text {
    color: #959ca1;
  }
  .not-found__sub-title-text {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .not-found__desc-text {
    margin-bottom: 1rem;
  }

  .no-found__home-link {
    text-transform: uppercase;
    color: map-get($black, 000);
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .not-found {
    padding: 1rem;
  }
}
