.dashboard-wrapper {
  background: #f4f7fa;
  position: relative;

  .no-content {
    margin-top: 50px;
    text-align: center;
    
    .no-content_title {
      color: #252525;
      font-size: 18px;

    }
    .no-content_text{
      color: #00000060;
    }
  }

  .dashboard-content {
    padding: 10px;

    .content-area {
      max-width: 90%;
      margin: 40px auto 0;

      .content-area__title {
        color: #000000;
        font-weight: 200;
        font-size: 16px;
        margin-bottom: 20px;
      }

      .summary-cards {
        padding: 10px 0;
        margin-bottom: 50px;
      }

      .activity {
        border-radius: 10px;
        color: #000000;
        clear: both;
        padding: 20px 10px;
        transition: all ease 0.3s;

        .activity--left {
          .activity__item {
            color: #d70508;
          }

          .activity__attr {
            color: #888888;
          }
        }

        .activity--right {
          float: right;

          .activity__time,
          .activity__user {
            margin-left: 10px;
          }

          .activity__time {
            color: #888888;
          }
        }

        .activity--left {
          display: inline;

          .activity__name,
          .activity__item {
            margin-right: 10px;
          }

          .activity__attr {
            margin-right: 5px;
          }
        }
      }

      .activity:hover {
        background-color: #f0f2f6;
      }
    }

    .activity-btn-wrapper {
      margin-top: 20px;

      .button.transparent {
        font-size: 10px;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }

      .button.transparent:hover {
        color: #d70508;
        background-color: #f0f2f6;
      }
    }
  }

  .card {
    border-radius: 5px;
    padding: 30px 0;
    margin: 0 auto;

    .card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      .icon-group {
        width: 90px;
        height: 60px;
        position: relative;

        .icon-bg {
          position: absolute;
          border-radius: 6px;
          height: 50px;
          width: 90px;
          opacity: 0.2;
          top: 10px;
        }

        .icon-bg.items {
          background-color: #1abc9c;
        }

        .icon-bg.total {
          background-color: #3498db;
        }

        .icon-bg.value {
          background-color: #d70508;
        }

        .summary-icon-wrapper {
          width: 50px;

          .summary-icon {
            margin-left: 10px;
          }
        }
      }

      .summary-description {
        margin-left: 10px;

        .summary-description__title {
          font-size: 12px;
        }

        .summary-description__sub-text {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .dashboard-wrapper {
    min-height: 100%;

    .dashboard-content {
      .content-area {
        margin: 80px auto 0;
        max-width: 1024px;
        padding: 0 20px;

        .content-area__title {
          font-size: 20px;
        }

        .activity {
          font-size: inherit;
        }
      }

      .activity-btn-wrapper {
        .button.transparent {
          font-size: inherit;
        }
      }
    }

    .card {
      border-radius: 5px;
      padding: 50px 0;
      margin: 0 auto;

      .card-content {
        .icon-group {
          width: 100px;
          height: 70px;

          .icon-bg {
            position: absolute;
            height: 60px;
            width: 100px;
            top: 10px;
          }

          .summary-icon-wrapper {
            width: 60px;

            .summary-icon {
              margin-left: 10px;
            }
          }
        }

        .summary-description {
          margin-left: 20px;

          .summary-description__title {
            font-size: 14px;
          }

          .summary-description__sub-text {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .dashboard-wrapper {
    .dashboard-content {
      .content-area {
        .activity {
          font-size: 12px;
        }
      }
    }
    .card {
      border-radius: 5px;
      padding: 20px 0;
      margin: 0 auto;

      .card-content {
        .icon-group {
          width: 30px;
          height: 30px;

          .icon-bg {
            position: absolute;
            height: 22px;
            width: 35px;
            top: 5px;
          }

          .summary-icon-wrapper {
            width: 20px;

            .summary-icon {
              margin-left: 5px;
            }
          }
        }

        .summary-description {

          .summary-description__title {
            font-size: 8px;
          }

          .summary-description__sub-text {
            font-size: 12px;
          }
        }
      }
    }
  }
}
