.no-content_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 212px);

    .no-content {
        text-align: center;

        .no-content_title {
            font-size: 2rem;
            text-transform: uppercase;
        }

        .no-content_text {
            color: #505050;
            opacity: 0.5;
            font-size: 1rem;
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 540px) {
    .no-content_wrapper {
        .no-content {
            .no-content_title {
                font-size: 20px;
            }

            .no-content_text {
                font-size: 15px;
            }
        }
    }
}
