.no-content_wrapper {
    top: 0;
    min-height: 100%;
    width: 100%;

    .no-content {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        .no-content_title {
            color: #d7050857;
            font-size: 30px;
            font-weight: 900;
        }

        .no-content_text {
            color: #00000060;
        }
    }
}

@media screen and (min-width: 769px) {
    .no-content_wrapper {
        .no-content {
            left: 60%;
        }
    }
}

@media screen and (max-width: 540px) {
    .no-content_wrapper {
        .no-content {
            .no-content_title {
                font-size: 20px;
            }

            .no-content_text {
                font-size: 15px;
            }
        }
    }
}
